:root {
    --brand-grey: #6a7970;
    --brand-cream: #eff1c5;
    --brand-orange: #e4572e;
    --brand-purple: #32021f;
}

body {
    background-color: var(--brand-cream);
    color: var(--brand-purple);
    font: 19px/1.5 Comfortaa, sans-serif;
}

header {
    text-align: center;
}

h1 {
    font-family: "Righteous", cursive;
    font-size: 130px;
}

h2 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 60px;
}

article {
  background-color: var(--brand-grey);
  border-radius: 15px;
  width: 70%;
  margin: 0 auto;
  padding: 20px 35px;
}
